body {
    background-color: #f4f1f1;
    overflow: hidden;
    margin-left: 30px;
    margin-right: 30px;
}
.h1Tag {
    text-align: center;
    color: black;
    font-size: 20px;
}

/*input {
    font-size: 15px;
    width: 175px;
    height: 30px;
}*/

/*form {
    padding-top: 30px;
} */

.text1 {
    width: 300px;
    font-size: 25px;
    text-align: center;
}

/* .time {
    position: relative;
    font-size: 110px;
    left: 22px;
    top: -290px; 
} */

.frequency-button {
    left: 60px;
    width: 300px;
    height: 80px;
    padding: 5px;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    background-color: #c8e6f9;
    font-family: "Segoe UI", Tahoma, sans-serif;
    margin-top: 20px;
}

.frequency-button:hover {
    box-shadow: 0px 0px 2px 2px;
}

.logo {
    display: block;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.box {
    width: 300px;
    height: 450px;
    padding: 10px;
    margin-top: 50px;
}

#countdown {
    font-size: 60px;
    left: 140px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.userIn li {
    display: inline;
    float: left;
    padding: 1px;
}
