.h1Tag {
    text-align: center;
    color: white;
    font-size: 20px;
}


input {
    font-size: 15px;
    width: 175px;
    height: 30px;
}


form {
    padding-top: 30px;
}


.text1 {
    position: relative;
    left: -148px;
    width: 300px;
    padding: 150px;
    font-size: 25px;
    top: -40px;
}

.time {
    position: relative;
    font-size: 110px;
    left: 22px;
    top: -290px; 
}

.frequency-button {
    position: absolute;
    left: 60px;
    width: 300px;
    height: 80px;
    padding: 5px;
    font-size: 25px;
    border: none;
    border-radius: 20px;
    background-color: #70B9EE;
    top: 490px;
}

.logo {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 165px;
    top: 150px;
}

.box {
    border: 3px solid lightgray;
    width: 300px;
    height: 450px;
    padding: 10px;
    margin-top: 50px;
    margin-left: 40px;
    background-color: #f4f1f1;
}
