body {
    background-image: linear-gradient(blue, cyan, #E788D5);
}

.h1Tag {
    text-align: center;
    color: white;
    font-size: 20px;
}

.profile {
    display: flex;
    align-content: center;
    flex-direction: row;
    transform: translateX(-100%);
    transition: transform 1s;
}

input {
    font-size: 15px;
    width: 175px;
    height: 30px;
}


form {
    padding-top: 30px;
}

.profile-open.profile {
    transform: none;
}

.text1 {
    position: relative;
    left: -24px;
    width: 300px;
    padding: 150px;
    font-size: 26px;
    top: 70px;
}

.text2 {
    position: relative;
    font-size: 150px;
    left: 97px;
    top: -200px;
}

.frequency-button {
    position: absolute;
    left: 340px;
    width: 300px;
    height: 80px;
    padding: 5px;
    font-size: 25px;
    border: none;
    border-radius: 20px;
    background-color: #70B9EE;
    top: 700px;
}

.logo {
    position: absolute;
    width: 130px;
    height: 130px;
    left: 420px;
    top: 260px;
}

.box {
    border: 3px solid lightgray;
    width: 550px;
    height: 680px;
    padding: 10px;
    margin-top: 100px;
    margin-left: 200px;
    background-color: #f4f1f1;
}
